//- sidebar
.col-md-4
	.well
		h4 标签:
		a.label.label-warning(href="#") iblog
		a.label.label-warning(href="#") python
		a.label.label-warning(href="#") javascript
		a.label.label-warning(href="#") django
	.well
		h4 简介:
		ul
			li haha
			li heihei
	.well.text-center
		<embed src="http://www.xiami.com/widget/1357161_1357161_235_346_FF8719_494949_0/reviewPlayer.swf" type="application/x-shockwave-flash" width="235" height="346" wmode="opaque"></embed>
//- end sidebar