doctype html
html
  head
    title= SITE_TITLE
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/fun.css')
  body
    canvas#c
    script(src="/javascripts/fun.js")